In [2]:
import os

In [3]:
os.getcwd()

'c:\\Users\\yraja\\Raja_files\\Datasense\\Text2Sql-Multittable'

In [4]:
os.listdir()

['.env',
 '.git',
 '.gitignore',
 'csvchatbot.db',
 'Data',
 'helper.ipynb',
 'ingestion.py',
 'main.py',
 'readme.md',
 'requirements.txt']

In [5]:
os.chdir(r'c:\\Users\\yraja\\Raja_files\\Datasense')

In [6]:
os.listdir()

['Assignments',
 'Class2-NLP',
 'Class3',
 'Class3-20250424T160050Z-001.zip',
 'delelte',
 'ds_git',
 'New folder',
 'Rag',
 'Text2Sql-1',
 'Text2Sql-Multittable']

In [7]:
os.chdir('./Text2Sql-Multittable')

In [8]:
os.listdir()

['.env',
 '.git',
 '.gitignore',
 'csvchatbot.db',
 'Data',
 'helper.ipynb',
 'ingestion.py',
 'main.py',
 'readme.md',
 'requirements.txt']

In [9]:
for root , directory , file in os.walk(os.getcwd()):
    print(file)

['.env', '.gitignore', 'csvchatbot.db', 'helper.ipynb', 'ingestion.py', 'main.py', 'readme.md', 'requirements.txt']
['COMMIT_EDITMSG', 'config', 'description', 'HEAD', 'index']
['applypatch-msg.sample', 'commit-msg.sample', 'fsmonitor-watchman.sample', 'post-update.sample', 'pre-applypatch.sample', 'pre-commit.sample', 'pre-merge-commit.sample', 'pre-push.sample', 'pre-rebase.sample', 'pre-receive.sample', 'prepare-commit-msg.sample', 'push-to-checkout.sample', 'sendemail-validate.sample', 'update.sample']
['exclude']
['HEAD']
[]
['master']
[]
['3a906f32da6405de6bd4c2e216245533774503']
['e2c24b2dcde2df71a766ffd26457d5da0ccd73']
['d9061a55723f1acf9c92e0ae6dad3cb1acdb41']
['7703fd48be4070425d21303400ef4c89d31c00']
['ea525d885d5148108f6f3a9a8613863f783d36']
['3d6141564831b56f42f49bbf95118bee93dd58']
['9668bc7b28f1d7d32fa2d3c12e5d771d54edb3']
['bb8b5d8c516204d43c3d4bb6b26482091f7f2b']
['09c27e0298c2d7083c5517d2c335e2a7bf5308']
['55adbf0d36d9ed192276aab6b4ef8b748a4486']
['3e6862e8ae251ac364801e401e24ff9898fd26']
['c2491370e10405fc6368b9c1ad5301309ba02e']
['6f168a5c7fc4b48adee90bff591faebebea816']
['9de29bb2d1d6434b8b29ae775ad8c2e48c5391']
['ea2da340b9d21227e51a8cab991be98e2845d1']
['4ec9ec0a36b45324b1fed096a2382619e8d33c']
['954d79c893cb075d363122ee484ffebebb5a6f']
['c5b38e69e8e905c410937706a5a61012fc73cd']
[]
[]
[]
['master']
[]
['food_delivery_menu_items.csv', 'food_delivery_orders.csv', 'food_delivery_order_details.csv', 'food_delivery_payments.csv', 'food_delivery_restaurants.csv', 'food_delivery_reviews.csv', 'food_delivery_users.csv', 'New Bitmap image.bmp']

In [10]:
type(file)

list

In [11]:
file[1:]

['food_delivery_orders.csv',
 'food_delivery_order_details.csv',
 'food_delivery_payments.csv',
 'food_delivery_restaurants.csv',
 'food_delivery_reviews.csv',
 'food_delivery_users.csv',
 'New Bitmap image.bmp']

In [12]:
os.chdir('./Data/')

In [13]:
os.getcwd()

'c:\\Users\\yraja\\Raja_files\\Datasense\\Text2Sql-Multittable\\Data'

In [38]:
for root, directory, file in os.walk(os.getcwd()):
    for f in file:
       if '.csv' in f:
           print(root + '\\'+f)

c:\Users\yraja\Raja_files\Datasense\Text2Sql-Multittable\Data\food_delivery_menu_items.csv
c:\Users\yraja\Raja_files\Datasense\Text2Sql-Multittable\Data\food_delivery_orders.csv
c:\Users\yraja\Raja_files\Datasense\Text2Sql-Multittable\Data\food_delivery_order_details.csv
c:\Users\yraja\Raja_files\Datasense\Text2Sql-Multittable\Data\food_delivery_payments.csv
c:\Users\yraja\Raja_files\Datasense\Text2Sql-Multittable\Data\food_delivery_restaurants.csv
c:\Users\yraja\Raja_files\Datasense\Text2Sql-Multittable\Data\food_delivery_reviews.csv
c:\Users\yraja\Raja_files\Datasense\Text2Sql-Multittable\Data\food_delivery_users.csv

In [15]:
for root, directory, file in os.walk(os.getcwd()):
    print(file)

['food_delivery_menu_items.csv', 'food_delivery_orders.csv', 'food_delivery_order_details.csv', 'food_delivery_payments.csv', 'food_delivery_restaurants.csv', 'food_delivery_reviews.csv', 'food_delivery_users.csv', 'New Bitmap image.bmp']

In [16]:
#convert all the paths to a  list
csv_documents = []
for root, directory, file in os.walk(os.getcwd()):
    for f in file:
       if '.csv' in f:
           csv_documents.append(root + '\\'+f)

In [17]:
#Conver all the paths to a list using join 
csv_documents =[]
for root, directory, file in os.walk(os.getcwd()):
    for f in file:
       if '.csv' in f:
           csv_documents.append(os.path.join(root,f))

In [18]:
print(csv_documents)

['c:\\Users\\yraja\\Raja_files\\Datasense\\Text2Sql-Multittable\\Data\\food_delivery_menu_items.csv', 'c:\\Users\\yraja\\Raja_files\\Datasense\\Text2Sql-Multittable\\Data\\food_delivery_orders.csv', 'c:\\Users\\yraja\\Raja_files\\Datasense\\Text2Sql-Multittable\\Data\\food_delivery_order_details.csv', 'c:\\Users\\yraja\\Raja_files\\Datasense\\Text2Sql-Multittable\\Data\\food_delivery_payments.csv', 'c:\\Users\\yraja\\Raja_files\\Datasense\\Text2Sql-Multittable\\Data\\food_delivery_restaurants.csv', 'c:\\Users\\yraja\\Raja_files\\Datasense\\Text2Sql-Multittable\\Data\\food_delivery_reviews.csv', 'c:\\Users\\yraja\\Raja_files\\Datasense\\Text2Sql-Multittable\\Data\\food_delivery_users.csv']

In [19]:


for i,path in enumerate(csv_documents):
    print(i,path)

0 c:\Users\yraja\Raja_files\Datasense\Text2Sql-Multittable\Data\food_delivery_menu_items.csv
1 c:\Users\yraja\Raja_files\Datasense\Text2Sql-Multittable\Data\food_delivery_orders.csv
2 c:\Users\yraja\Raja_files\Datasense\Text2Sql-Multittable\Data\food_delivery_order_details.csv
3 c:\Users\yraja\Raja_files\Datasense\Text2Sql-Multittable\Data\food_delivery_payments.csv
4 c:\Users\yraja\Raja_files\Datasense\Text2Sql-Multittable\Data\food_delivery_restaurants.csv
5 c:\Users\yraja\Raja_files\Datasense\Text2Sql-Multittable\Data\food_delivery_reviews.csv
6 c:\Users\yraja\Raja_files\Datasense\Text2Sql-Multittable\Data\food_delivery_users.csv

In [20]:
print(os.getcwd())

c:\Users\yraja\Raja_files\Datasense\Text2Sql-Multittable\Data

In [21]:
# now you know the path convert them into panda
import pandas as pd
document_base_path = "./Data"
#for root , directory , file in os.walk(document_base_path,f)

In [ ]:

table_names_df = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)

In [ ]:
# from pathlib import Path
# base_path = Path(__file__).resolve().parent / "Data"
# base_path

NameError: name '__file__' is not defined

In [9]:
import sqlite3
import os
import pandas as pd
conn = sqlite3.Connection("csvchatbot.db")
print(conn)

print(os.path.exists("csvchatbot.db"))
table_names_df = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)
table_names = table_names_df["name"].tolist()  # Extract as list of strings
table_names

<sqlite3.Connection object at 0x0000027C7EC77C40>
True

['food_deliver_users',
 'food_delivery_menu_items',
 'food_delivery_orders',
 'food_delivery_order_details',
 'food_delivery_payments',
 'food_delivery_restaurants',
 'food_delivery_reviews',
 'food_delivery_users']

In [10]:
print(pd.read_sql("select * from food_deliver_users",conn))

#conn.close()

                                    user_id               name  gender  \
0      2c9e3b84-16d3-4f4c-858e-82dffa36f991      Daniel Molina    Male
1      752cffa9-d31c-45e1-b0ab-3e35567b90f4  Michael Rodriguez    Male
2      bc304a8c-ad89-4757-b8c2-481c38435419      Charles Patel    Male
3      05593574-354a-4184-98f0-7f948bf5e9df      Destiny Burns  Female
4      76b52765-a883-4ec4-b946-154e466a247e       David Flores    Male
...                                     ...                ...     ...
99995  39cd727d-1535-419f-b556-26329d427ff2          John Knox    Male
99996  484b83d3-f804-44bc-aed1-14744180af33       Daniel Bruce    Male
99997  e4b7b7eb-fdec-4809-ae99-b793837d9c86     Ms. Amy Medina  Female
99998  2ba45e42-e04b-4a41-aeec-6eae84904994     David Morrison    Male
99999  504102e5-b292-4da4-bb9e-9567dafa103d        Tara Jordan  Female

                               email           phone_number  \
0            daniel.molina@gmail.com     752.300.5266x02508
1      michael.rodriguez@hotmail.com    +1-776-822-7329x203
2          charles.patel@hotmail.com     774-219-6812x63426
3            destiny.burns@gmail.com  001-928-957-7330x8685
4             david.flores@gmail.com           712.838.8839
...                              ...                    ...
99995            john.knox@gmail.com      944.319.2941x3672
99996         daniel.bruce@yahoo.com    (790)540-4630x98660
99997         ms..medina@hotmail.com          (726)298-1993
99998       david.morrison@yahoo.com             6257090816
99999          tara.jordan@gmail.com     (427)291-0214x8593

                                        delivery_address
0      738 Carly Island Apt. 434\nSouth Melissaberg, ...
1      6504 Rachel Burg Apt. 042\nCynthiaburgh, PA 66026
2             366 Ryan Field\nNorth Danielside, OK 02127
3          50071 Hernandez Street\nEast Tammie, TN 44543
4                       Unit 4556 Box 9619\nDPO AA 26049
...                                                  ...
99995  142 Joshua Ford Apt. 113\nNorth Josephbury, WY...
99996            323 Wanda Parkway\nNorth Ryan, MD 32380
99997  590 Catherine Manors Apt. 688\nPort Cindy, TX ...
99998             876 Rich Shoals\nHoustonstad, TN 29915
99999     24140 Williams Islands\nJenniferbury, DC 37342

[100000 rows x 6 columns]

In [11]:
table_names= pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';",conn)

In [12]:
table_names

                          name
0           food_deliver_users
1     food_delivery_menu_items
2         food_delivery_orders
3  food_delivery_order_details
4       food_delivery_payments
5    food_delivery_restaurants
6        food_delivery_reviews
7          food_delivery_users

In [40]:
sample_data = {}
table_columns = {}
for table in table_names["name"]:
    sample_data[table]= pd.read_sql(f"select * from {table} limit 5",conn)
    table_columns[table] =sample_data[table].columns.to_list()

In [31]:
print(table_columns)
sample_data["food_deliver_users"]

{'food_deliver_users': ['user_id', 'name', 'gender', 'email', 'phone_number', 'delivery_address'], 'food_delivery_menu_items': ['menu_item_id', 'restaurant_id', 'item_name', 'price'], 'food_delivery_orders': ['order_id', 'user_id', 'order_time', 'delivery_address', 'order_status', 'restaurant_id', 'total_amount'], 'food_delivery_order_details': ['order_details_id', 'order_id', 'menu_item_id', 'quantity', 'price'], 'food_delivery_payments': ['payment_id', 'order_id', 'payment_method', 'amount_paid', 'payment_date', 'payment_status', 'refund'], 'food_delivery_restaurants': ['restaurant_id', 'name', 'address', 'phone_number', 'email', 'cuisine_type'], 'food_delivery_reviews': ['review_id', 'user_id', 'order_id', 'restaurant_id', 'rating', 'comments', 'review_date'], 'food_delivery_users': ['user_id', 'name', 'gender', 'email', 'phone_number', 'delivery_address']}

,user_id,name,gender,email,phone_number,delivery_address
0,2c9e3b84-16d3-4f4c-858e-82dffa36f991,Daniel Molina,Male,daniel.molina@gmail.com,752.300.5266x02508,"738 Carly Island Apt. 434\nSouth Melissaberg, ..."
1,752cffa9-d31c-45e1-b0ab-3e35567b90f4,Michael Rodriguez,Male,michael.rodriguez@hotmail.com,+1-776-822-7329x203,"6504 Rachel Burg Apt. 042\nCynthiaburgh, PA 66026"
2,bc304a8c-ad89-4757-b8c2-481c38435419,Charles Patel,Male,charles.patel@hotmail.com,774-219-6812x63426,"366 Ryan Field\nNorth Danielside, OK 02127"
3,05593574-354a-4184-98f0-7f948bf5e9df,Destiny Burns,Female,destiny.burns@gmail.com,001-928-957-7330x8685,"50071 Hernandez Street\nEast Tammie, TN 44543"
4,76b52765-a883-4ec4-b946-154e466a247e,David Flores,Male,david.flores@gmail.com,712.838.8839,Unit 4556 Box 9619\nDPO AA 26049

In [43]:
print(type(sample_data["food_deliver_users"]))

<class 'pandas.core.frame.DataFrame'>

In [41]:
df = pd.read_csv("Data/food_delivery_users.csv")
conn = sqlite3.connect("csvchatbot.db")

# Store the dataframe to Sqllite database

df.to_sql("food_deliver_users",conn,if_exists="replace",index=False)

conn.close()

FileNotFoundError: [Errno 2] No such file or directory: 'Data/food_delivery_users.csv'

In [40]:
len(table_names_df)

0

In [29]:
table_names

[]